/* Application-wide Styles */
h1 {
  color: rgb(40, 92, 20);
  font-family: Verdana;
  font-size: 250%;
  }
h2, h3 {
  color: #444;
  font-family: Verdana;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Verdana;
}
/* everywhere else */
* {
  font-family: Verdana;
}