h2 {
    color: #A80000;
    font-family: Verdana;
    font-weight: lighter;
    padding-top: 20px;
  }
  
  .clear {
    margin-bottom: 12px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }