<h2>My Heroes</h2>
<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button color='primary' class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
      <img src="../assets/avatar.png">
      <span class="badge">{{hero.id}}</span>
      <button mat-raised-button class='names' (click)='setCurrentSelectedHero(hero.id)'>{{hero.name}}</button>
      <button mat-raised-button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>

<app-new-hero-detail [selectedHeroId]="selectedHero"></app-new-hero-detail>

